<!-- Copyright 2015: Thomson Reuters. All Rights Reserved. Proprietary and Confidential information of Thomson Reuters. Disclosure, Use or Reproduction without the written authorization of Thomson Reuters is prohibited. -->
<div class="calendar-with-slider-widget">
    <div class="calendar-title">
        <span>Key Dates 2</span>
    </div>
    <div class="year-month-select">
		Year:
		<select></select>
		Month:
		<select></select>
	</div>
	<br/>
	<div class="both-sided-slider">
		<div class="left"></div>
		<div class="right"></div>
		<div class="slider-img"></div>
		<div class="slider-img" style="left:200px"></div>
		<div class="dates">
		&nbsp;&nbsp;&nbsp;&nbsp;1 &nbsp;3 &nbsp;5 &nbsp;7 &nbsp;9 &nbsp;11 &nbsp;13 &nbsp;15 &nbsp;17 &nbsp;19 &nbsp;21 &nbsp;23 &nbsp;25 &nbsp;27 &nbsp;29 &nbsp;31
		</div>
	</div>
	<br/>
	<input type='submit' value='View all'/>
	<br/>
	<div class="view-all-result">
	</div>
</div>